body {
    background-image: url('https://images.unsplash.com/photo-1717501218661-0322e4bc4c81?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.Gmail {
    animation: inputEmail 1s;
}

.Password {
    animation: inputPassword 1s;
}

.main {
    margin-top: 23em;
}

.title {
    animation: title 3s;
}

@keyframes inputEmail {
    0% {
        transform: translateY(-2000%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes inputPassword {
    0% {
        transform: translateX(-2000%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes title {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}